* {
    background-color: aliceblue;
    color: darkcyan;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flexbox;
    padding: 20px;
    width: 100%;
    margin: 10px;
}

header h1 {
    display: inline-block;
}

header h2 {
    display: inline;
    float: right;
}

/**/

#vhs {
    margin: 10px;
    margin-left: 30px;
}

#vhs button {
    padding: 5px;
    color: whitesmoke;
    background-color: darkcyan;
    border: 2px solid darkblue;
    cursor: pointer;
}

/*This is for the start screen*/

#startScreen {
    text-align: center;
    padding: 20px;
}

#startScreen h1 {
    padding: 20px;
}

#startScreen p {
    padding: 20px;
}

#startScreen button {
    padding: 5px;
    color: whitesmoke;
    background-color: darkcyan;
    border: 2px solid darkblue;
    cursor: pointer;
}

/*This is for the questions section*/

#questions {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#questions h2 {
    padding: 20px;
}

.answers {
    padding: 20px;
}

.answers button {
    display: block;
    align-items: left;
    padding: 5px;
    margin: 15px;
    color: whitesmoke;
    background-color: darkcyan;
    border: 2px solid darkblue;
    cursor: pointer;
}

/*This is for the result screen*/

#resultScreen {
    text-align: center;
    padding: 20px;
}

#resultScreen h1 {
    padding: 20px;
}

#resultScreen h2 {
    padding: 20px;
}

#resultScreen form {
    padding: 20px;
}

#resultScreen button {
    color: whitesmoke;
    background-color: darkcyan;
    border: 2px solid darkblue;
    padding: 2px;
    cursor: pointer;
}

/*This is for the High Score Screen*/

#highscoreScreen {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

#highscoreScreen h1 {
    padding: 20px;
}

#highscoreScreen ol {
    margin: 20px;
}

#highscoreScreen ol li{
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-bottom: 0px;
    border-bottom: 2px solid darkcyan;
}

#highscoreScreen button {
    color: whitesmoke;
    background-color: darkcyan;
    border: 2px solid darkblue;
    padding: 5px;
    cursor: pointer;
}